<div class="card mb-4 mt-4">
  <div class="card-header">
    <%= t('.header', title: @question.test.title) %>
  </div>

  <div class="card-body">
    <h5 class="card-title">
      <%= @question.body %>
      
    </h5>
    <p class="card-text"><%= t('.answers') %></p>
    <ol>
      <%= render partial: 'answers/answer', collection: @question.answers %>
    </ol>
  </div>
  <div class="card-footer">
    <%= link_to t('.back'), admin_test_path(@question.test_id) %> | 
    <%= link_to t('.edit'), edit_admin_question_path(@question) %> | 
    <%= link_to t('.delete'), admin_question_path(@question.id), method: :delete, data: { confirm: t('.confirm') } %> |
    <%= link_to t('.new_answer'), new_admin_question_answer_path(@question) %>
  </div>
</div>