<footer>
  <div class="container-fluid">
    <p>
      <%= full_year %> Ekimenkov Maksim 

      <%= github_url('forzamaks', 'testGuru') %>
    </p>
    <p><%= t('.info') %></p>
    <p>
    <%= link_to t('.link'), 'http://thinknetica.com/' %>
    
    </p>
    <p>
      <%= link_to 'Обратная связь', feedback_index_path %>
    </p>
  </div>
</footer>