<div class='nav'>
  <% if user_signed_in? %>
    <%= link_to root_path do %>
      Welcome, <b><%= current_user.name %></b> Guru
    <% end %>
     <%= link_to 'Exit', destroy_user_session_path, method: :delete %>
  <% else %>
    <p><b>Welcome Guru</b></p>
    <%= link_to 'Registration', new_user_registration_path %>
    <%= link_to 'Login', new_user_session_path %>
  <% end %>
  
</div>