<div class='nav'>
  <% if user_signed_in? %>
    <%= link_to root_path do %>
      <%= t('.title.not_logined', name: current_user.name).html_safe %>
    <% end %>
     <%= link_to t('.exit'), destroy_user_session_path, method: :delete %>
  <% else %>
    <p><b><%= t('.title.not_logined')%></b></p>
    <%= link_to t('.registration'), new_user_registration_path %>
    <%= link_to t('.login'), new_user_session_path %>
  <% end %>
  
</div>