<h1><%= t('.header') %></h1>
<p>
  <%= link_to t('.new_test'), new_admin_test_path %>
</p>
<% if @tests.present? %>
  <table style="width: 100%;text-align: center;">
    <thead>
      <tr>
        <th><%= t('.title') %></th>
        <th><%= t('.level') %></th>
        <th><%= t('.questions_count') %></th>
        <th colspan="3"><%= t('.action') %></th>
      </tr>
    </thead>
    <tbody>
      <%= render @tests %>
    </tbody>
  </table>
  
<% else %>
  <p><%= t('.not_found') %></p>
<% end %>
