
<p>
  <b>title: </b> 
  <%= @test.title %>
</p>
<p>
  <b>level: </b> 
  <%= test_level(@test) %>
</p>
<ol>
  <%= render partial: 'questions/question', collection: @test.questions %>
</ol>
<hr/>
<p>
<a href="<%= new_admin_test_question_path(@test.id) %>">Create new question</a>
</p>


<p>
  <%= link_to 'Back', admin_tests_path %> | 
  <%= link_to 'Edit', edit_admin_test_path(@test) %>
</p>