
<p>
  <b><%= t('.title') %></b> 
  <%= @test.title %>
</p>
<p>
  <b><%= t('.level') %></b> 
  <%= test_level(@test) %>
</p>
<ol>
  <%= render partial: 'questions/question', collection: @test.questions %>
</ol>
<hr/>
<p>
  <%= link_to t('.create_question'), new_admin_test_question_path(@test.id) %>
</p>


<p>
  <%= link_to t('.back'), admin_tests_path %> | 
  <%= link_to t('.edit'), edit_admin_test_path(@test) %>
</p>